p{
    font-size: 20px;
    color:rgb(46, 8, 2);
    border:6px solid rgba(252, 250, 251, 0.868);
}
body{
    background-image: url(69572-fox-minimalism-minimalist-artist-artwork-digital-art-hd-4k.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
